.progress {
    align-items: center;
    color: #CCC;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    font-size: 300%;
    font-variant: small-caps;
    font-weight: bold;
    justify-content: center;
}